<% @title="Versatile Contracting Group | Contact" %>
<div class="container-contacts">
  <h1>Get In Touch</h1>
  <p>Thinking about having us work on your next big project? Get in touch now for a quote. Whether it is commercial or residential, we would be honored to help your vision become reality. </p>
</div>
